table ,th,td{
  border: 1px solid black;
  padding : 10px;
  border-collapse:collapse;
}
.view{
  background-color: #e3e3e3;
  border: 2px solid black;
  text-align: center;
  width: 70%;
  margin: 20px auto;
  
}
.viewer{
  text-align: center;
}
